
//Colours

.black {color: $black;}
.darkpurple {color: $darkpurple;}
.purple {color: $purple;}
.lightpurple {color: $lightpurple;}
.blue {color: $blue;}
.reallylightblue {color: $reallylightblue;}
.mikeOrange {color: $mikeOrange;}
.samiiGreen {color: $samiiGreen;}
.yellow {color: $yellow;}
.grey {color: $grey;}
.darkwhite {color: $darkwhite;}
.white {color: $white;}

//Helpers
.center{text-align: center;}